body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #F4F4FD;
    color: #2E2F42;
}

ul{
list-style: none;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
        font-weight: 500;
        letter-spacing: 0.32px;
        word-wrap: break-word
}
.contacts-list .link:hover,
.contacts-list .link:active{
color: #404BBF;
    font-weight: 400;
    letter-spacing: 0.32px;
    word-wrap: break-word
}
.link{
    text-decoration: none;
    font-style: normal;
}
button{
    background-color: #4D5AE5;
    cursor: pointer;
    color: white;
        font-weight: 500;
        letter-spacing: 0.64px;
        word-wrap: break-word
}
button:hover,
button:focus{
    background-color: #404BBF;
color: white;
    font-weight: 500;
    letter-spacing: 0.64px;
    word-wrap: break-word
}
.logo-link{
        font-size: 18px;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.54px;
        word-wrap: break-word
}
.logo{
        font-size: 18px;
        color: #4D5AE5;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.54px;
        word-wrap: break-word
}
.page-nav{
            font-weight: 500;
            letter-spacing: 0.32px;
            word-wrap: break-word
}
.contacts-list .link{
    color:#434455;;
        font-weight: 400;
        letter-spacing: 0.32px;
        word-wrap: break-word 
}
.hero-title{
    color: white;
        font-size: 56px;
        font-family: Roboto;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        word-wrap: break-word
}
.hero-section{
    background-color: #2E2F42;
}
.benefits-list .item-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.40px;
    word-wrap: break-word
}
.benefits-list .item-text{
        font-weight: 400;
        letter-spacing: 0.32px;
        word-wrap: break-word
}
.team-section{
    background-color: #F4F4FD;
}
.team-section-title{
        font-size: 36px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 0.72px;
        word-wrap: break-word
}
.team-list .item-title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.40px;
    word-wrap: break-word
}
.team-list .item-text{
        font-weight: 400;
        letter-spacing: 0.32px;
        word-wrap: break-word
}
.portfolio-section-title{
        font-size: 36px;
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 0.72px;
        word-wrap: break-word
}
.portfolio-list .item-title{
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.40px;
        word-wrap: break-word
}
.portfolio-list .item-text{
    font-weight: 400;
    letter-spacing: 0.32px;
    word-wrap: break-word
}
.footer-page{
    background-color: #2E2F42;
}
.main-page-link{
    text-decoration: none;
    color: #F4F4FD;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.54px;
        word-wrap: break-word   
}
.footer-logo{
color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.54px;
    word-wrap: break-word
}
.footer-text{
    color: #F4F4FD;
        font-weight: 400;
        letter-spacing: 0.32px;
        word-wrap: break-word
}
